{% load static %}

<aside id="modalPanel" class="hidden">
    <div class="header">
        <div class="action-post">
            <img src="{% static 'icons/modal/action_post.svg' %}" alt="">
        </div>
    </div>
    <div class="main-post">
        <div class="edit-post">
            <button type="button" data-panel-edit-post>
                <img src="{% static 'icons/modal/edit.svg' %}" alt="">Редагувати допис
            </button>
        </div>
        <hr>
        <div class="trash-post">
            <button type="button" data-panel-delete-post>
                <img src="{% static 'icons/modal/trash.svg' %}" alt="">Видалити публікацію
            </button>
        </div>
    </div>
</aside>