{% load static %}
<div class="hidden" id="select-members">
    <div class="header">
        <div class="close-modal" id="close-select-members">
            <img src="{% static 'icons/modal/cross.svg' %}" alt="">
        </div>
    </div>

    <h2>Нова група</h2>
    <div class = "search">
        <img src="{% static 'chat_app/icons/search.svg' %}" alt="">
        <input type="text" placeholder="Пошук" id="group-search-input">
    </div>

    <p class="selected-count">Вибрано: 0</p>
    <section>
        <div class="add-members" id="select-members-list">
            {% if grouped_users %}
                {% for letter, members in grouped_users.items %}
                <div class="letter-group">
                    <p class="letter-start">{{ letter }}</p>
                    {% for person in members %}
                    <div class="member">
                        <div class="avatar-member">
                            <img src="{% static 'chat_app/icons/Jane Cooper.png' %}" alt="{{ person.nickname }}">
                        </div>
                        <div class="name-member">
                            <p>{{ person.nickname }}</p>
                            <input type="checkbox" value="{{ person.id }}" class="group-member-checkbox">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            {% else %}
                <p class="no-members">Немає доступних учасників</p>
            {% endif %}
        </div>
    </section>

    <div class = "action-buttons">
        <button type="button" class = "cancel" id="cancel-select-members">
             <img src="{% static 'chat_app/icons/cancel.svg' %}" alt="">
        </button>
        <button type="button" class = "next" id="select-members-next"> 
            <img src="{% static 'chat_app/icons/next.svg' %}" alt=""> 
        </button>
    </div>
</div> 