{% load static %}

<section class="chat-messages group-chats">
    <div class="chat-block-header">
        <div class="header-left">
            <div class="header-icon-wrapper">
                <img src="{% static 'icons/logo/chat.svg' %}" alt="">
                <span class="notification-badge">2</span>
            </div>    
            <h3>Групові чати</h3>
        </div>
        <button class="view-all-btn">Дивитись всі</button>
    </div>

    <div class="chats-list">
        {% for chat in group_chats %} 
            <button type="button" class="chat-user-button" data-chat-id="{{ chat.id }}" data-chat-name="{{ chat.name|default:'New group' }}">
                <div class="users-info-block">
                    <div class="avatar-wrapper">
                        <img src="{% static 'chat_app/icons/NP.png' %}" alt="{{ chat.name }}">
                        <span class="status-dot online"></span>
                    </div>
                    <div class="message-meta-wrapper">
                        <div class="meta-top">
                            <div class="chat-header-text">
                                <h4 class="user-name">{{ chat.name|default:'New group' }}</h4>
                            </div>
                            <span class="message-time">{{ chat.last_message_time }}</span>
                        </div>
                        <div class="meta-bottom">
                            <p class="user-message">{{ chat.last_message_text|default:'Почніть чат'|truncatechars:28 }}</p>
                        </div>
                    </div>
                </div>
            </button>
        {% empty %}
            <p class="empty-chats">Порожньо</p>
        {% endfor %}
    </div>
</section>