{% load static %}
<section class="chat-main">
    
    <div class="chat-view">
        <div class="chat-header hidden">
            <div class="chat-header-userinfo">
                <div id="chat-avatar" class="chat-avatar-wrapper">NG</div>
                <div class="chat-header-text-block">
                    <h2 id="chat-title" class="chat-title">New Group</h2>
                    <p id="chat-status" class="chat-status">3 учасники, 1 в мережі</p>
                </div>
            </div>
            <button type="button" id = "open-panel" class="btn-more-actions">
                <img src="{% static 'icons/modal/action_post.svg' %}" alt="">
            </button>
        </div>
        {% include 'chat_app/particles/chat_models_windows.html' %}
        <div id="chat-window" class="chat-window placeholder-active">
            <div class="chat-placeholder-container">
                <h2 class="placeholder-title">Почніть нове спілкування</h2>
                <p class="placeholder-subtitle">
                    Оберіть контакт зі списку ліворуч<br>або створіть групу, щоб почати спілкування
                </p>
            </div>
        </div>
        <div class="chat-message-block">
            <form id="chat-message-form" class="chat-message-form">
                <input type="text" id="chat-input" placeholder="Повідомлення" autocomplete="off">
                <button type="button" class="btn-icon btn-secondary">
                    <img src="{% static 'chat_app/icons/sticker.svg' %}" alt="Стикер">
                </button>
                <input id="messageImages" type="file" accept="image/*" multiple hidden>
                <button type="button" class="btn-icon btn-secondary" id="messageImageButton">
                    <img src="{% static 'chat_app/icons/media.svg' %}" alt="Медиа">
                </button>
                <button type="submit" class="btn-icon btn-send">
                    <img src="{% static 'chat_app/icons/send.svg' %}" alt="Відправити">
                </button>
            </form>
        </div>
    </div>
</section>