{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ profile_user.nickname|default:profile_user.email }}
{% endblock %}

{% block meta %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block content %}
    <div class="profile-page">
        <div class="profile-posts" id="profilePostsList">
            {% include "particles/show_post.html" with posts=posts %}
        </div>

        <div id="profilePostsSentinel"></div>

        {% include "user_app/particles/friends/modal/confirm_action.html" %}
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'user_app/js/friends_actions.js' %}"></script>
    <script src="{% static 'core_app/js/profile_posts_scroll.js' %}"></script>
{% endblock %}