
{% extends 'base.html' %}
{% load static %}


{% block links %}
    <link rel="stylesheet" href="{% static 'chat_app/css/chat.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/modals/create_group.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/modals/panel.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/modals/create_group.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/modals/select_contacts.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/sidebars/groups.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/sidebars/main.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/sidebars/messages.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/sidebars/contacts.css' %}">
{% endblock %}

{% block title %} Чат {% endblock %}

{% block meta %} 
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="current-user-id" content="{{ request.user.id }}">
{% endblock %}


{% block sidebar %}
{% endblock %}

{% block content %}
    <div class = "chat-page">
        {% include 'chat_app/particles/chat_contacts.html' %}
        {% include 'chat_app/particles/chat_main.html' %}
        {% include 'chat_app/particles/chat_sidebar.html' %}
    </div>
{% endblock %}


{% block scripts %}

    <script src="{% static 'chat_app/js/chat_history.js' %}"></script>
    <script src="{% static 'chat_app/js/uread_messages.js' %}"></script>
    <script src="{% static 'chat_app/js/online_status.js' %}"></script> 
    <script src="{% static 'chat_app/js/chat_ui.js' %}"></script> 
    
    <script src="{% static 'chat_app/js/message_images.js' %}"></script>
    <script src = "{% static 'js/links-color.js' %}"></script>
    <script src="{% static 'chat_app/js/chat.js' %}"></script>
    <script src="{% static 'chat_app/js/modal_window.js' %}"></script>
    <script src = "{% static 'chat_app/js/panel.js' %}"></script>
{% endblock %}